* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

/* Navigation */

.navbar ul{
    display: flex;
    gap: 10px;
    justify-content:flex-end; 
}

.navbar li {
    list-style: none;
}

.navbar a:link, a:hover {
    text-decoration: none;
    color: blue;
}

.navbar a:visited, a:active {
    color: #000;
}

/* Hero Section */

.hero-section {
    text-align: center;
}

.hero-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    
}